.coursdetails-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.coursdetails-coursdetails {
  width: 100%;
  height: 4822px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(251, 249, 252, 1);
}
.coursdetails-ggchecko {
  top: 374px;
  left: 584px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-group1 {
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.coursdetails-vector {
  top: -4.547473508864641e-13px;
  left: 2.6251542568206787px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.coursdetails-letsiconscheckfill {
  top: 2px;
  left: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-coursemetrics1 {
  top: 612px;
  left: 0px;
  width: 1440px;
  height: 184px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: lightgray;
}
.coursdetails-bg10 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 184px;
  position: absolute;
}
.coursdetails-text100 {
  color: rgba(37, 2, 107, 1);
  width: 272px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 140%; /* Simplifié pour un style plus lisible */
  font-size: 28px; /* Ajustez la taille selon vos besoins */
  font-weight: bold; /* Ajout pour rendre le texte en gras */
}
.coursdetails-mainheading1 {
  top: 36px;
  left: 0px;
  width: 1136px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-subheading1 {
  top: 0px;
  left: 0px;
  width: 1136px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-line10 {
  top: 10px;
  left: 0px;
  width: 48px;
  height: 2px;
  position: absolute;
  border-radius: 0.4000000059604645px;
}
.coursdetails-lessons {
  top: 168px;
  left: 0px;
  width: 1136px;
  height: 880px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-coursecontentbarclosed1 {
  top: 63px;
  left: 0px;
  width: 1136px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconoutlinedadd10 {
  top: 20px;
  left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-color10 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.coursdetails-coursecontentbaropen {
  top: 252px;
  left: 0px;
  width: 1136px;
  height: 313px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconoutlinedminus1 {
  top: 20px;
  left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-lesson1 {
  top: 132px;
  left: 24px;
  width: 1080px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconfilledarticle1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconfilledvideo1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-info {
  top: 128px;
  left: 0px;
  width: 1136px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.coursdetails-iconoutlinedbullet1 {
  top: 0px;
  left: 88px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-frame18 {
  top: 2796px;
  left: 152px;
  width: 1136px;
  height: 472px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconandtext1 {
  top: 376px;
  left: 0px;
  width: 224px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconfilledratinngs {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-ratingstargive1 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconfilledstudents {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-peoplemangraduate1 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-bound10 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.coursdetails-heading012 {
  top: 0px;
  left: 0px;
  width: 1136px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconfilledstar1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-image1 {
  top: 0px;
  left: 0px;
  width: 352px;
  height: 504px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.coursdetails-review {
  top: 157px;
  left: 416px;
  width: 512px;
  height: 239px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.coursdetails-name {
  top: 167px;
  left: 92px;
  width: 420px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  box-sizing: content-box;
}
.coursdetails-ellipse471 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  position: absolute;
}
.coursdetails-pagination {
  top: 460px;
  left: 424px;
  width: 64px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.coursdetails-secondarynavbar {
  top: 796px;
  left: 0px;
  width: 1440px;
  height: 76px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-bottunoutlined {
  top: 18px;
  left: 920px;
  width: 176px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-buttonbg1 {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-bottonfilled {
  top: 18px;
  left: 1112px;
  width: 172px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-secondarynavbarmenuactive {
  top: 8px;
  left: 152px;
  width: 136px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-faq {
  top: 120px;
  left: 0px;
  width: 1136px;
  height: 488px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.coursdetails-fa-qclosed1 {
  top: 272px;
  left: 0px;
  width: 1136px;
  height: 72px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-fa-qopen {
  top: 72px;
  left: 0px;
  width: 1136px;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-aboutcourse {
  top: 968px;
  left: 152px;
  width: 1136px;
  height: 580px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-bulletpoint1 {
  top: 220px;
  left: 0px;
  width: 704px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-features1 {
  top: 140px;
  left: 768px;
  width: 391px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconsfeaturesonlineclasses {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.coursdetails-iconsfeatureslifetime {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconsfeaturesbeginnerlevel {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.coursdetails-iconsfeaturessubtitles {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-bottunoutlinedwithiconleft {
  top: 540px;
  left: 717px;
  width: 419px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(37, 2, 107, 1);
  border-style: solid;
  border-width: 1px;
}
.coursdetails-iconfilleddownload {
  top: 8px;
  left: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-iconsfeaturescertificate {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.coursdetails-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 612px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-headertext {
  top: 176px;
  left: 152px;
  width: 656px;
  height: 296px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-highlights {
  top: 204px;
  left: 0px;
  width: 395px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-rectangle31 {
  top: 10px;
  left: 182px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 8px;
}
.coursdetails-iconfilledcheck2 {
  top: 0px;
  left: 174.63265991210938px;
  width: 24.367347717285156px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-video {
  top: 176px;
  left: 824px;
  width: 464px;
  height: 292px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 32px 48px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-play {
  top: 118px;
  left: 116px;
  width: 233px;
  height: 56px;
  display: flex;
  opacity: 0.60;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-dots {
  top: 69px;
  left: 97px;
  width: 80px;
  height: 176px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.coursdetails-circle29 {
  top: 1px;
  left: 1px;
  width: 6px;
  height: 6px;
  position: absolute;
}
